<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Righteous|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>PROBAKA SIGNINEMAIL</title>
    <style>
        .container-fluid {
            background-image: linear-gradient(141deg,#dfd8d9,#f5f5f5 71%,#fff);
            height: 100%;
            padding: 15px;
        }
        .navbar-default .navbar-brand {color: #777}
        .navbar-brand {
            float: left;
        }
        .signin-form {
            padding-top: 35px;
            padding-bottom: 35px;
            height: 350px;
            margin: 20px auto;
            width: 90%;
        }
        .input-group {
            width: 80%;
            margin: 0 auto;
            padding-top: 5px;
            padding-bottom: 10px;
            border-radius: 5px;
        }
        .form-social-control {
            height: 50px;
            padding: 15px;
            border-radius: 5px;
        }
        .form-email-control {
            height: 50px;
            width: 100%;
            padding: 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px solid #ced4da;
            margin-top: 15px;
            float: left;
        }
        .email-register {
            height: 50px;
            width: 100%;
            padding: 15px;
            margin-top: 15px;
            float: left;
            font-size: 1.5rem;
        }
        .email-register-sm {
            height: 50px;
            width: 100%;
            padding: 15px;
            margin-top: 15px;
            float: left;
            font-size: 1rem;
        }
        .separator {
            height: 1px;
            width: 80%;
            background: #ced4da;
            margin: 2rem auto;
            position: relative;
        }
        .or {
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background: #fff;
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: .85em;
            font-weight: 600;
            color: #212529;
        }
        .login-comment {
            text-align: left;
            padding-top: 20px;
            width: 38%;
            font-weight: 400;
            font-family: 'Righteous', cursive;
            font-size: 2.4rem;
            margin: 0 57px;
            padding-bottom: 0;
        }
    </style>
</head>
<body class="signin-body">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PR0BAKA</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="visible-md visible-lg login-comment">It's time to start Probaka!</div>
                <div class="signin-form">
                    <div class="input-group">
                        <input type="eamil" class="form-email-control" placeholder="id@email.com">
                        <input type="text" class="form-email-control" placeholder="name">
                        <input type="password" class="form-email-control" placeholder="password">
                        <button type="button" class="visible-lg visible-md btn btn-primary email-register">SIGNUP</button>
                        <button type="button" class="visible-sm visible-xs btn btn-primary email-register-sm">SIGNUP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
